
/* previous and next buttons to proceed through chapters */
.previousNext {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.previousOnly {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.nextOnly {
    display: flex;
    flex-direction:row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
}

.previousNextButton {
    border-radius:10px;
    background-color: rgb(90,200,200);
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: "sans-serif", "Lucida Bright";
}

.previousNextButton:hover {
    background-color: darkgreen;
}