* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
    background-color: lightgray;
}

.bodyMain {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}