
.navBar1 {
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content:flex-start;
    padding: 10px;
    margin: 20px;
}

.navLogo {
    height: 50px;
    width: 90px;
}

.navBarLink1 {
    color: green;
    margin: 15px;
}